@CHARSET "ISO-8859-1";

html, body{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.main{
	height: 100%;
	width: 100%;
	background: url(imgme.jpg) no-repeat 100% 100%;
	display: table;
	top: 0;
	background-size: cover;
	opacity: 0.9;

}

form{
	padding-top: 50px;
	padding-bottom: 10px;
	
}
.main .inner
{

	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none;
}

.content{
	max-width: 500%;
	margin: 0 auto;
	text-align: center;
}

.content h1{
	font-family: 'Garamond';
	color: #F9F3F4;
	text-shadow: 0px 0px 30px 30px;
	font-size: 300%;
	cursor: default;
	
}

.content h3
{
font-family: 'Garamond';
	color: #F9F3F4;
	text-shadow: 0px 0px 30px 30px;
	font-size: 100%;	
	cursor: default;
}

input{
	border-radius: 9px;
	font-family:'Times New Roman', serif;
	font-size: 200%;
	padding: 5px 5px;
	border: 3px;
	text-decoration: none;
	text-transform: none;
	
}


.btn{
	background-color: transparent;
	border-radius: 9px;
	font-family: 'Times New Roman', sans-serif;
	color: #fff;
	font-size: 200%;
	padding: 5px 10px;
	border: solid #fff;
	text-decoration: none;
	cursor: pointer;
	margin: 30px;
}

input.btn:HOVER{
	
	color: #fff;
	border: solid orange;
	
}

p{
	font-size: 160%;
	line-height: 210%;
	text-align: justify;
	margin: 10px 50px;
	padding: 10px;
	line-height: 30px;
	border: solid olive;
	border-bottom-left-radius: 50px; 
	
}


